

<!-- Modal -->
<div class="modal fade" id="EditTasklistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit TaskList</h4>
      </div>
      <div class="modal-body">
      	<%= form_for @tasklist do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, :autofocus => true %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Update', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
$('#EditTasklistModal').on('shown.bs.modal', function () {
    $(this).find("[autofocus]:first").focus();
})
</script>
