<p>Hello <%= @email %>!</p>

<p>Your friend <%= @user.name %> has invited to you join HaveTodo, so we can share our tasks.</p>

<p>Please click on the following link to sign up an account:</p>

<p><%= link_to 'Sign Up', new_user_registration_path %></p>
