<h2>Share with Friends</h2>

<% if @friends.nil? or @friends.empty? %>
You have no Friends.  Please add some friends to your <%= link_to "Friend List", friendships_path %>.
<% elsif (@friends - @task_shared).empty? %>
Task assigned to all your friends
<% else %>
<ul>
	<% for u in (User.order(:name).find(@friends - @task_shared)) %>
	  <li><%= link_to u.name, task_addFriend_path(@task, u), method: :post %></li>
	<% end %>
</ul>
<% end %>


<h2>Sharing To (click the name to remove)</h2>

<ul>
	<% for u in (User.order(:name).find(@task_shared)) %>
	  <li>
	  	<%= link_to u.name, task_removeFriend_path(@task, u), method: :post %>
	  </li>
	<% end %>
</ul>

