<form accept-charset="UTF-8" action="/users/tasks" class="new_task" id="new_task" method="post">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input autofocus="autofocus" id="task_name" name="task[name]" type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" name="commit" type="submit" value="Quick Add">Quick Add</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</form>

<!--
<%= form_for @new_task do |f| %>
  <div class="row">
    <div class="input-group">
	  <%= f.text_field :name, :autofocus => true %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
-->