<%= form_for(@new_task) do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
  	    <%= f.text_field :name, :class => "form-control" %>
        <span class="input-group-btn">
          <div class="actions">
            <%= f.submit %>
          </div>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
<% end %>
