<form accept-charset="UTF-8" action="/users/tasks" class="new_task" id="new_task" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input name="authenticity_token" type="hidden" value="3Dx0+99aHzo4rJA+WXfKMbKCI+Mp6O0HJM7vceuZj1w="></div>
  <input autofocus="autofocus" id="task_name" name="task[name]" type="text">
  <input name="commit" type="submit" value="Quick Add">
</form>

<!--
<%= form_for @new_task do |f| %>
  <div class="row">
    <div class="input-group">
	  <%= f.text_field :name, :autofocus => true %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
-->