<%= form_for @new_task do |f| %>
  <div class="row">
    <div class="input-group">
	  <%= f.text_field :name, :autofocus => true %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div><!-- /input-group -->
  </div><!-- /.row -->
<% end %>
