      <tr>
      	<td width="5%"><input type="checkbox"></td>
        <td width="75%"><%= task.name %></td>
        <td width="10%"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td width="10%"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
