@import "bootstrap";
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$themeColor: #abcdef;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.left {
  float:left;
}

.right {
  float:right;
}

hr {
  width:100%;
  margin:0;
  border-top:1px solid #cccccc;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header {
  ul {
    font-size: 13px;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-inner {
  background-color: #0FAABB;  
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    font-size: 13px;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* sidebar */

#sidebar {
  float: left;
  width: 15%;
  word-wrap:break-word;
}

#taskarea {
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  width: 65%;
}

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.super {
  vertical-align: super;
}

.trim_tasklist_name {
  width: 60%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.sidebar {
  margin: 0 0 10px 0;
}

li.sidebar {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* body */
.table {
  margin-bottom: 0px;
}

.table th, .table td {
  padding: 0px;
  vertical-align: middle;
}

.circle {
  display:inline-block;
  height:10px;
  width:10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 6px;
  border: 1px solid;
  background-color: #000000;
}

div.dropdown-functions {
  display:inline;
  position:absolute;
}


/* forms */

input[type="color"] {
  -webkit-appearance: square-button;
  width: 40px;
  height: 30px !important;
  padding: 1px 0px;
  border: 2px inset;
}

form.new_task {

  .form_button {
    display:inline;
  }

  input[type=submit] {
    width: 40%;
  }
  
  button {
    margin: 0 0 0 0;
  }

  label, input, textarea {
    display: inline-block;
  }

  label {
    width: 10%;
    text-align: right;
  }

  label + input {
    width: 55%;
    margin: 0 0 0 0;
  }

  label + textarea {
    width: 55%;
    margin: 0 0 0 0;
  }

  input + input {
    float: right;
  }

  input + div {
    width: 30%;
    float: right;
  }

  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    @include box_sizing;
  }

/*  
  input {
    height: auto !important;
  }
*/

}

form.new_friend {
  label {
    text-align: right;
  }

  .form_button {
    display:inline;
  }

  label, input {
    display: inline;
  }

  label + input {
    width: 60%;
    margin: 0 0 0 0;
  }

}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
