// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  border: 2px solid black;
}

.panel-heading {
  background-color: #0FCCDD;
  padding: 10px;
  line-height: 25px;
  font-size: 20px;
}


.incomplete {
}

.completed {
  opacity: 0.4;
}

.quick_task_container {
  width: 800px;
}

.quick_task_container field {
  width: 60%;
}

/*
.quick_task_container input {
  width: 60%;
}
*/

#new_task {
  display:inline;
  vertical-align: top;
  text-align: center;
}

#new_task field {
  width: 60%;
}

/*
#new_task input[type="text"] {
  vertical-align: top;
  width: 60%;
}

#new_task input[type="date"] {
  vertical-align: top;
  width: 60%;
}

#new_task input[type="time"] {
  vertical-align: top;
  width: 60%;
}

#new_task textarea {
  vertical-align: top;
  width: 60%;
}

#new_task input[type="submit"] {
  vertical-align: top;
}
*/

div.field {
  display:inline;
}

label {
  display:inline;
}
