// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  border: 2px solid black;
}

.panel-heading {
  background-color: #0FCCDD;
  padding: 10px;
  line-height: 25px;
  font-size: 20px;
}


.incomplete {
}

.completed {
  opacity: 0.4;
}

.quick_task_container {
  width: 100%;
}


span.item_datetime {
  font-size: 13px;
}


/* sidebar */
#wrapper {
  padding-left: 100px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -200px;
  left: 200px;
  width: 200px;
  background: #0FCCDD;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

