<footer class="footer">
  <small>
    HaveTodo by Gordon Kwok
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= request.original_url %></li>
      <li><%= request.request_uri  %></li>
    </ul>
  </nav>
</footer>

